td.todaymark {
  color: white;
  background-color: #337AB7;
}
td.disabledday {
  color: lightgrey;
}
td.calnodeposit {
  background-color: #F08080;
}
td.caldeposit {
  background-color: #F0F080;
}
td.calpaid {
  background-color: #80F080;
}
td.tdkey {
  padding: 1em;
}
td.roomtimestrip {
  border-right: thin solid black;
  padding: 1em;
  text-align: right;
}
td.roombookingcell {
  border-right: thin solid black;
  padding: 1em;
  text-align: center;
}
th.roomname {
  text-align: center;
}
th.bookingdate {
  text-align: left;
}
a.roomcelllink {
  display: block;
  width: 100%;
  color: white;
  background-color: white;
  text-decoration: none;
}
a.roomcelllink:hover {
  background-color: #337AB7;
  text-decoration: none;
}
tr.roombookingrow {
  border: thin solid black;
}
table.roombookingtable {
  width: 100%;
}
.gap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-space {
  margin-left: 1px;
  margin-right: 2px;
}
