body .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}
a, a:visited, a:link {
  text-decoration: none;
  color: green;
}
a:hover {
  border-bottom: thin solid black;
}
table.roombookingtable {
  border: thin solid black;
}
table.roombookingtable th {
  background-color: lightyellow;
  border: thin solid black;
}
th.roomname {
  text-align: center;
}
th.bookingdate {
  text-align: right;
}
th.roomtimestrip {
  border-right: thin solid black;
  padding: 1em;
  text-align: right;
}
td.todaymark {
  color: black;
  border: thin solid green;
}
td.disabledday {
  color: lightgrey;
}
td.calnodeposit {
  background-color: #A0F0A0;
}
td.caldeposit {
  background-color: #70C070;
}
td.calpaid {
  background-color: green;
}
td.calpaid a {
  color: white;
}
td.tdkey {
  padding: 1em;
}
td.roombookingcell {
  border-right: thin solid black;
  padding: 1em;
  text-align: center;
}
a.roomcelllink {
  display: block;
  width: 100%;
  color: white;
  background-color: white;
}
a.roomcelllink:hover {
  background-color: #337AB7;
}
tr.roombookingrow {
  border: thin solid black;
}
table.roombookingtable {
  width: 100%;
}
.gap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-space {
  margin-left: 1px;
  margin-right: 2px;
}
