td.todaymark {
  color: white;
  background-color: #337AB7;
}
td.disabledday {
  color: lightgrey;
}
td.calnodeposit {
  background-color: #F08080;
}
td.caldeposit {
  background-color: #F0F080;
}
td.calpaid {
  background-color: #80F080;
}
td.tdkey {
  padding: 1em;
}
td.roomtimestrip {
  border-right: thin solid black;
  padding: 1em;
}
td.roombookingcell {
  border-right: thin solid black;
  padding: 1em;
}
tr.roombookingrow {
  border: thin solid black;
}
table.roombookingtable {
}
.gap {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.roomcelllink:hover {
  background-color: #337AB7;
}
